<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <meta name="description" content="My Catbook">
        <meta name="keywords" content="cats, catbook, fakebook, social media">
        <meta name="author" content="Ana Vargazon">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Mr. Flooff | Catbook</title>

        <link rel="stylesheet" href="/static/portfolio/fakebook/stylefb.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Fredoka+One&display=swap">

    </head>

    <body>

        <h1>CatBook</h1>

        <p><b>Search:</b> <input type="text" placeholder="Search by name"></p>

        <br>

        <hr>

        <span class="brmedium"></span>

        <div class="row">

            <div class="column" style="text-align: center">

                <div class="zoomin"><img src="https://news3lv.com/resources/media/6ecd9a16-896b-45db-a687-75919fad4065-large1x1_CatCafe.jpg" alt="Avatar" id="borderimg" width="200px"></div>

            </div>

            <div class="column" style="backgound-color: white;">

                    <h2>Mr. Floof</h2>

                    <button class="button">Add a buddy</button>
                    <button class="button">Send a treat</button>

                <span class="brmedium"></span>

                    <p><b>City:</b> Catsville</p>
                    <p><b>Age:</b> 5</p>
                    <p><b>Likes:</b> Coffee, fish, chicken, beef, cheese snacks, CATNIP!</p>
                    <p><b>Dislikes:</b> Birds, banana, dirty toilet, petting.</p>
                    <p><b>Hobbies:</b> Drinking coffee, sleeping, watching birds, eating snacks.</p>
                    <p><b>Cat friends:</b> 2000</p>
                    <p><b>Cat enemies:</b> 4</p>
:
            </div>

        </div>

    </body>

</html>