{% extends "base.html" %}

{% block title %}
        <title>About me | NanaVar</title>
{% endblock title %}

{% block content %}

<!-- main -->

<div class="container mt-4">
    <h2 class="text-center p-4">About me</h2>
    <br>

<div class="row">
    <div class="col offset-md-1 form-group">
        <h3>Please HOVER over my name~</h3>
        <br>
        <p class="text">
            This is about me text ... I honestly don't know what to write here yet ...
          <br>
            I like playing Overwatch, Assassin's Creed, Far Cry, Witcher ... I hoped Cyberpunk would be a good game ... <b>SIKE!</b>
          <br>
            Witcher 3 is the ultimate game.
          <br>
            Anyway.. I'll actually write this segment one day ...
        </p>
    </div>

    <div class="col offset-md-1 form-group">
        <h3>Random info:</h3>
        <br>
        <p class="text">
            <b>Age:</b> {{ age }}
          <br>
            <b>Location:</b>
            {% for location in locations %}
                {{ location }}
            {% endfor %}
          <br>
            <b>Education:</b> {{ university }}
          <br>
            <b>Programming languages:</b>
            {% for program in programming %}
                {{ program }}
            {% endfor %}
          <br>
            <b>Languages:</b>
            {% for language in languages %}
                {{ language }}
            {% endfor %}
        </p>
    </div>

{% endblock content %}
