<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">

{% block title %}
{% endblock title %}

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">

<!-- Javascript files --->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>

<body>

<!-- icons -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- navbar -->

    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/portfolio">Portfolio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- banner -->

    <section class="hero-banner bg-dark py-5">
        <div class="container">
            <div class="row row align-items-center">
                <div class="col-md-5">
                    <img src="/static/img/avatar.jpg" id="avatar" class="img-fluid">
                </div>
                <div class="col-md-5">
                    <h1><span>Ana Vargazon</span></h1>
                    <p class="info my-5">
                        Up and coming (hopefully) programmer.
                        <br>
                        Professional makeup-artist with a diploma in cosmetic science.
                        <br>
                        Part-time gamer and animal lover.
                    </p>
                    <a class="social-icon" href="https://github.com/nanavar" target="_blank">
                        <ion-icon name="logo-github"></ion-icon></a>
                    <a class="social-icon" href="https://www.twitch.tv/nana94" target="_blank">
                        <ion-icon name="logo-twitch"></ion-icon></a>
                    <a class="social-icon" href="https://www.instagram.com/amv.img" target="_blank">
                        <ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
        </div>
    </section>

{% block content %}
{% endblock content %}


</body>
