{% extends "base.html" %}

{% block title %}
        <title>NanaVar</title>
{% endblock title %}

{% block content %}

<!-- contact -->

    <div class="container-main p-5 mt-10 mb-10">
        <div class="small-middle-container">
            <h2 class="btn-shine">Contact me!</h2>
            <br>
          <label for="exampleFormControlInput1" class="form-label form-text">Email address</label>
          <input type="email" class="form-control bg-dark text-white" id="exampleFormControlInput1" placeholder="name@example.com">
            <br>
        </div>
        <div class="small-middle-container">
          <label for="exampleFormControlTextarea1" class="form-label form-text">Your text</label>
          <textarea class="form-control bg-dark text-white" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>

{% endblock content %}