{% extends "base.html" %}

{% block title %}
        <title>NanaVar</title>
{% endblock title %}

{% block content %}

<!-- contact -->

    <div class="container-main p-5 mt-10 mb-10">
         <form action="https://formsubmit.co/your@email.com" method="POST">
            <div class="small-middle-container">
                <h2 class="btn-shine">Contact me!</h2>
                <br>
              <label for="email" class="form-label form-text">E-mail address</label>
              <input type="email" name="email" class="form-control bg-dark text-white" id="email" placeholder="name@example.com" required>
                <br>
            </div>

            <div class="small-middle-container">
              <label for="text" class="form-label form-text">Your text</label>
              <textarea type="text" name="text" class="form-control bg-dark text-white" id="text" rows="3"></textarea>
                <br>
                <button type="submit" class="btn btn-purple">Send e-mail</button>
            </div>
        </form>
    </div>

{% endblock content %}