{% extends "base.html" %}

{% block title %}
        <title>Portfolio | NanaVar</title>
{% endblock title %}

{% block content %}

<!-- portfolio -->

    <div class="container mt-4">
        <h2 class="text-center p-4">Portfolio</h2>
        <div class="row">
           <div class="col-md-4 d-flex align-items-stretch">
                <div class="card text-white bg-dark text-center">
                    <img src="/static/img/card1.png" class="card-img-top" alt="instlye">
                    <div class="card-body">
                        <h3 class="card-title bg-dark">Instyle</h3>
                        <p class="text">Hair salon website created as a part of my web development course.</p>
                        <a href="/portfolio/hairdresser" target="_blank" class="btn btn-purple">Link to website</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card text-white bg-dark text-center">
                    <img src="/static/img/card2.png" class="card-img-top" alt="boogle">
                    <div class="card-body">
                        <h3 class="card-title bg-dark">Boogle</h3>
                        <p class="text">Fake Google log in page.
                        <br>
                        Doesn't actually work.</p>
                        <a href="/portfolio/boogle" target="_blank" class="btn btn-purple">Link to website</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card text-white bg-dark text-center ">
                    <img src="/static/img/card3.png" class="card-img-top" alt="catbook">
                    <div class="card-body">
                        <h3 class="card-title bg-dark">CatBook</h3>
                        <p class="text">Very simple CSS website, actually my first website.</p>
                        <a href="/portfolio/fakebook" target="_blank" class="btn btn-purple">Link to website</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card text-white bg-dark text-center ">
                    <img src="/static/img/card4.png" class="card-img-top" alt="guesser-game">
                    <div class="card-body">
                        <h3 class="card-title bg-dark">Guesser Game</h3>
                        <p class="text">Simple random number guessing game made in python.</p>
                        <a href="https://guesser-game-smartninja.herokuapp.com/" target="_blank" class="btn btn-purple">Link to website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4"></div>

{% endblock content %}



