<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>AV - portfolio</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">

<!-- Javascript files --->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>

<body>

<!-- icons -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- stars -->

     <div id='stars'></div>
     <div id='stars2'></div>
     <div id='stars3'></div>

<!-- navbar -->

    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/portfolio">Portfolio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- banner -->

    <section class="hero-banner bg-dark py-5">
        <div class="container">
            <div class="row row align-items-center">
                <div class="col-lg-5">
                    <img src="/static/img/avatar.jpg" id="avatar" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <h1><span>Ana Vargazon</span></h1>
                    <p class="lead text-secondary my-5">
                        Up and coming (hopefully) programmer.
                        <br>
                        Professional makeup-artist with a diploma in cosmetic science.
                        <br>
                        Part-time gamer and animal lover.
                    </p>
                    <a class="social-icon" href="https://github.com/nanavar" target="_blank">
                        <ion-icon name="logo-github"></ion-icon></a>
                    <a class="social-icon" href="https://github.com/nanavar" target="_blank">
                        <ion-icon name="logo-twitch"></ion-icon></a>
                    <a class="social-icon" href="https://github.com/nanavar" target="_blank">
                        <ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
        </div>
    </section>

<!-- portfolio -->

    <div class="container mt-4">
        <h2 class="text-center p-4">Portfolio</h2>
        <div class="row">
           <div class="col-md-4">
                <div class="card text-white bg-dark text-center">
                    <img src="/static/img/card1.png" class="card-img-top" alt="instlye">
                    <div class="card-body">
                        <h3 class="card-title bg-dark">Instyle</h3>
                        <p class="text">Hair salon website created as a part of my web development course.</p>
                        <a href="/portfolio/hairdresser" target="_blank" class="btn btn-purple">Link to website</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-dark text-center">
                    <img src="/static/img/card2.png" class="card-img-top" alt="boogle">
                    <div class="card-body">
                        <h3 class="ccard-title bg-dark">Boogle</h3>
                        <p class="text">Fake Google log in page.
                        <br>
                        Doesn't actually work.</p>
                        <a href="/portfolio//boogle" target="_blank" class="btn btn-purple">Link to website</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-dark text-center">
                    <img src="/static/img/card3.png" class="card-img-top" alt="catbook">
                    <div class="card-body">
                        <h3 class="card-title bg-dark">CatBook</h3>
                        <p class="text">Very simple CSS website, actually my first website.</p>
                        <a href="/portfolio//fakebook" target="_blank" class="btn btn-purple">Link to website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4"></div>
</body>
